
.container{
    width: 640px;
    margin: 0 auto;
}
header{
    width: 640px;
    height: 160px;
    
    content:url("../img/back1.jpg");
    border-radius: 10px;
    margin-bottom: 20px;
}

 .input-wrap{
     border: 2px solid orange;
     width: 620px;
     background-color: white;
     margin-bottom: 15px; 
     border-radius: 10px;
     padding-left: 20px;
 }
 input {
    width: 600px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    outline: none;
    border-bottom:3px solid orange;
   
  }
.box-shadow{
    box-shadow: 5px 5px 5px orange;
  }
  .option{
    width: 600px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    border-bottom:3px solid orange;
  }
 input[type="submit"] {
    width: 640px;
    height: 50px;
    background-color: orange;
    border-radius: 5px;
    color: white;
 }

 input[type = "submit"]:hover{
     font-size:20px;
 }
 span{
     display: block;
 }
 textarea {
    width: 600px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    border-bottom:3px solid orange;
 }
 .color-err{
     color: red;
 }
 select{
     outline: none;
 }
 label>h3{
     color: black;
 }
.form-group{
    margin: 25px 0;
}
section{
    background-color: white;
    border: 2px solid orange;
    margin-bottom: 20px;
    border-radius: 10px;
}
section>h1,p{
    margin-left: 20px;
    margin-bottom: 12px;
}
.input-wrap p{
    margin-left: 0;
    color: red;
}
body{
    background-image: linear-gradient(purple, pink);
}
.title-icon label,img{
    display: inline-block;
}
.title-icon img{
    margin-right: 4px;
    width: 20px;
}
.mess-err{
    display: block;
    margin-top: 6px;
    margin-left: 20px;
    font-size: 12px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .input-wrap{
        width: 95%;
    }
    section {
        width: 98%;
    }
    header, input[type = "submit"] {
        width: 98.5%;
    }
    body{
        margin-top:30px;
    }
    .container{
        width: 90%;
    }
    input,#khoa,textarea{
        width: 80%;
    }
    header{
        height: 70px;
    }
    .button-cauHoi{
        width: 38px;
        height: 38px;
        font-size: 10px;
        margin: 0;
        left: 88%;
    }
    .button-cauHoi h5{
        margin: 0;
    }
    .cauhoi{
        width: 70%;
    }
  }
  